// ########################
// FOOTER
// ########################

footer{
  padding:10px 10px 0 10px;
  .container-fluid{
    background-color: $light-bg;
  }
  .container-fluid{
    padding:40px;
  }

  ul li a{
    color:$dark-header;
    padding-left:40px;
  }
}
