// ########################
// TESTIMONIALS NETWORK
// ########################

section.network{
  padding:10px;
  @include box-sizing(border-box);

  .container-fluid{
    background-color: $orange;
    padding-bottom:0;
  }

  h2{
    color:white;
  }
  h3{
    color:$dark-header;
    margin-bottom:100px;
  }
}
.network__bullets{
  padding-right:30px;
}
.bullet-network{
  h5{
    color:white;
  }
}

.network__map{
  // background: url("../images/network_map.png");
  background-size:cover;
  img{
    width:100%;
    height: 100%;
  }
}
