// ########################
// TESTIMONIALS NETWORK
// ########################

section.network{
  padding:10px;
  @include box-sizing(border-box);

  .container-fluid{
    background-color: $orange;
  }

  h2{
    color:white;
  }
  h3{
    color:$dark-header;
  }
}
