// ########################
// TESTIMONIALS SECTION
// ########################

.testimonials__element{
  border:1px solid red;
  padding:20px;
  text-align: center;
}
.testimonials__container{
  padding-left:100px;
  padding-right: 100px;
}
