// COLORS

$dark-blue:					#121e2a;
$dark-header:       #030e19;
$grey-txt:					#c3d3e3;
$sub-header:				#5f758a;
$orange:            #e34537;
$light-bg:          #f4f6f6;
$stroke:            #dde6eb;
$stroke2:           #6b7886;
